__pycache__/
.venv/
*.egg-info/

.env

session.db
.adk/

# sandbox
.runtime/
.sandbox_control/

# web
dist/
build/
node_modules/
web_gui/static/ketcher/

# copilot
.github/

# notes written by agents
note_*.md